// Header
header.box-header
  .container
    .row.align-items-center
      .col-xl-2
        a(href="/")
          img.avatar(src="https://cdn2.cellphones.com.vn/x/media/wysiwyg/Web/Logo/Logo_CPS.png", alt="Logo")
      
      .col-xl-2.text-center
        a(href="/products") Danh mục
      
      .col-xl-4
        form(action="")
          .box-search
            i.fa-solid.fa-magnifying-glass
            input.input-search(type="text", placeholder="Tìm kiếm...")
         
      
      .col-xl-2.text-center
        a(href="/cart")
          span Giỏ hàng 
          i.fa-solid.fa-bag-shopping
      
      .col-xl-2.text-center
        a(href="/login") Đăng nhập